body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
.mainText {
	margin-right:5%;
	margin-left:5%;
}
.container{
	width:95%;
	margin:auto;
	overflow:hidden;
}

.container h1{
	text-align: center;
}

.container section h1{
	padding-top:70px;
}
.container section{
	margin-bottom:100px;
}

.navbar{
	background-color: #fff;
	width:100%;
	margin:auto;
	position: fixed;
	top:0;
	padding-left: 20px;
	overflow:hidden;
	z-index: 1000000;
}
.navbar a{
 	float: left;
 	display: inline-block;
 	color: #000;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
 	font-size: 17px;
 	transition: all 0.2s ease;
}
.navbar a:hover {
	background:#b3b3b3;
}
#logo{
	float:left;
	padding:3px 10px 0px 3px;
}
.showcase{
	background-image:url('../pictures/Main-Page.png');
	background-position:center;
	min-height:100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 90vh;
}

#headline{
	color:white;
	font-size:60px;
	text-shadow: 4px 4px #000;
	display:flex;
	flex: 0 1 40vw;
	height: 90vh;
	justify-content: center;
	align-items: center;
	text-align:center;
}

.main{
	width:100%;
	padding:0 30px;
}

.main h1{
	text-align: center;
}


#main-footer{
	background: #333;
	padding:20px;
	margin-top:40px;
	color:#fff;
	text-align: center;
}

@media(max-width:510px){
	#F{
		visibility: hidden;
	}
	#How{
		visibility: hidden;
	}
	#C{
		visibility: hidden;
	}
	.navbar a{
		padding: 14px 0px;
	}
	.navbar a:hover{
		background-color:#fff;
	}

		
}

.howitworksimg {
	display: block;
	float: right;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#inside_car {
	height: 25%;
	width: 25%;
	position: relative;
	z-index: -1;
	right: 20%;
}

#traffic_light {
	height: 25%;
	width: 25%;
	position: relative;
	float: left;
	left: 270px;
	padding-top: 25px;
	z-index: -1;

}

#contact {
	text-align:center; 
	
}

#how p {
	padding: 5px;
}

#p1 {
	padding-top: 20px;
/*	border: solid black 1px; */
}

#p1text {
	position: relative;
	margin-right: 75%;
	left: 20%;
	padding-top: 30px;
	z-index: -1;

}
#p2 {
	padding-top: 75px;
/*	border: solid black 1px; */
}

#p2text {
	position: relative;
	margin-left: 70%;
	right: 170px;
	z-index: -1;
}
/* Contact Flipping images */
/*------------Wrapper------------*/
.flipWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

.flipWrapper > * {
	margin: 5px;
}

/*------------FlipCard------------*/
.flipContact {
	margin:auto;
	transition: transform 1.3s;
	transform-style: preserve-3d;
	width: 200px;
	height: 200px;
	box-shadow: 0 2px 6px 2px gray;
}

.flipContactParent{
	position: relative;
	width: 100%;
	height: 100%;
}

.flipContactFront, .flipContactBack{
	background-color: #F5F5F5;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flipContactBack {
	text-align: center;
	color: #000000;
	transform: rotateY(180deg);
}

.flipContact:hover{
	transform: rotateY(180deg);
}

/*------------FlipCard Icons------------*/
.fa {
	padding: 3px;
	font-size: 12px;
	text-decoration: none;
	color: black;
	margin-top: 4px;
	z-index: -1;
}

.fa:hover, .fa-github:hover, .fa-linkedin-square:hover, .i:hover {
    opacity: 0.7;
	
}

.fa-github {
	background: #6e5494;
    color: white;
}

.fa-linkedin-square {
	background: #007bb6;
    color: white;
	margin-left: -4px;
}

/*Contact Input field*/
.ContactField {
	
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	border-style: solid;
	border-color: #DCDCDC;
	box-shadow: 0 2px 6px 2px gray;
}

.message {
	height: 90px; 
	width: 400px; 
	margin-top: 5%; 
}

.send {
	padding: 7px; 
	display: block; 
	margin: 0 auto; 
	background-color: #BFBFBF;
	border: none;
    border-radius: 1px;
	margin-bottom: 20px;
}


/* -------------FEATURES--------------- */


.tabButton{
	
    padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 24px;
	padding-left:24px;
    
	display:block;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: dark grey;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom:0px solid black;
	cursor : pointer;
}
.greenButton.active,.greenButton:hover{
  background-color: #2ef255;
  color: black;
}

.yellowButton.active,.yellowButton:hover{
  background-color: #efdd10;
  color: black;
}

.redButton.active,.redButton:hover{
  background-color: #ef4628;
  color: black;
}


.buttonGroup{
	
	justify-content: center;
	display : flex;
	
}
.content{
	display : none;
	border: 1px solid black;
	overflow: auto;
	margin-left:6%;
	margin-right:6%;
	padding: 1%;
	padding-left: 3%;
	
	background-color:#f9f9f9;
	box-shadow: 3px 3px 10px grey;
}


.featureVid{
	vertical-align: top;
	border: 1px solid grey;
	float: right;
	
}

.tabText{
	margin-right: 2%;
	
}

h2 {
	text-align:center;
	font-size: 15px;
}
