.content {
	display : none;
	background-color : blue;
}

#Header {
	background-color : gray;
	display : block;
	position : absolute;
	width : 100%;
}
#HeaderButtons{
	float: right;

	
}
#Logo {
	height : 50px;
}
#Title{
	 padding-top: 60px;
	 display : block;
	
}