h1 {
	color: black;
	text-align: center;
}

p {
	margin: 20px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#inside_car {
	height: 60%;
	width: 60%;
}

#Header {
	background-color : gray;
	display : block;
	position : absolute;
	width : 100%;
	height: 50px;
}
#HeaderButtons {
	vertical-align: middle;
	float: right;
	display: block;
}
#Logo {
	position: absolute;
	height : 50px;
}
#Title{
	 padding-top: 60px;
	 display : block;
	
}
#footer p{
	font-size : 8px;
	
	
}